.container{
    background-color: black;
    padding: 0 1rem;
}

.movie-poster{
    max-width: 300px;
    border: 4px solid white;
    border-radius:5px
}

.movie-detail{
    color: white;
    font-weight: bold;
    margin-top: 50%;
}